<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <form action="{% url 't05_auth:register' %}" method="post">
        <input type="text" placeholder="用户名" name="u_name">
        <br>
        <input type="password" placeholder="确认密码" name="pwd" id="">
        <br>
        <input type="password" placeholder="确认密码" name="confirm_pwd">
        <br>
        <input type="submit" value="注册">
        {% csrf_token %}
    </form>
</body>
</html>