<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索语言</title>
</head>
<body>
<form action="">
    <table align="center">
        <tr>
            <td><input type="text" name="tid"></td>
            <td><input type="submit" value="搜索" ></td>
        </tr>


            {% for foo in langs %}
            <tr>
                <td>
                {{ foo.name }}
                </td>
            </tr>
            {% endfor %}


    </table>



</form>
</body>
</html>