<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <ul>{% for p in persons %}
        <li>{{ p.name }}的年纪是{{ p.age }}</li>
        {% empty %}
        <h1>没有啦</h1>
    {% endfor %}
    </ul>

    {#    分页#}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {#        前一页#}
            <li>
                {% if page.has_previous %}
                    {#                如果有前一页 反向解析的参数正常配置#}
                    <a href="{% url 't07:person' page.previous_page_number %}" aria-label="Previous">
                        <span aria-hidden="true">前一页</span>
                    </a>
                {% else %}
                    {#                如果没有前一页 那把反向解析的参数设置1 即可#}
                    <a href="{% url 't07:person' 1 %}" aria-label="Previous">
                        <span aria-hidden="true">前一页</span>
                    </a>
                {% endif %}
            </li>

            {#        循环生成 页码按钮#}
            {#            <li><a href="#">1</a></li>#}
            {#            <li><a href="#">2</a></li>#}
            {#            <li><a href="#">3</a></li>#}
            {#            <li><a href="#">4</a></li>#}
            {#            <li><a href="#">5</a></li>#}
            {% for page_num in page_range %}
                <li><a href="{% url 't07:person' page_num %}">{{ page_num }}</a></li>
            {% endfor %}
            {#            最后一页#}
            <li>
                {% if page.has_next %}
                    {#                如果有下一页 参数请求参数正常使用#}
                    <a href="{% url 't07:person' page.next_page_number %}" aria-label="Next">
                        <span aria-hidden="true">下一页</span>
                    </a>
                {% else %}
                    {#                没有下一页#}
                    {#                最后一页的那个页码数#}
                    <a href="{% url 't07:person' last_page %}" aria-label="Next">
                        <span aria-hidden="true">下一页</span>
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>
</body>
</html>